@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

:root {
  --red: #D6000D;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
}

.red-txt {
  color: var(--red);
}

header {
  display: flex;
  justify-content: space-between;
}

ul li {
  list-style-type: none;
}

ul li a {
  text-decoration: none;
  color: black;
}

ul.nav__links {
  display: flex;
  gap: 20px;
}

img#video-call, img#coding {
  width: 300px;
  height: auto;
}

h1#heading-text {
  font-size: 20px;
}

span.big {
  font-size: 35px;
}

footer {
  color: white;
  background-color: black;
  display: flex;
  justify-content: space-between;
  height: 300px;
}

footer div {
  width: 25%;
}

main > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

main div:first-child {
  margin-top: 50px;
}

main > div+div {
  margin-top: 150px;
}

#heading-content > div {
  display: flex;
  flex-direction: column;
  max-width: 300px;
}

.red-button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: var(--red);
  color: white;
  font-size: bold;
}

button#budget {
  width: 200px;
}

input#phone {
  padding: 10px 20px;
  border: none;
  background-color: rgb(0, 0, 0, .1);
  font-size: bold;
  outline: none;
}
