header {
  position: fixed;
  top: 20px;
  width: 95vw;
  display: flex;
  justify-content: space-between;
}

header span {
  font-size: 35px;
  font-weight: bold;
}

header span, main div#time div span:last-of-type {
  color: var(--green-color);
  font-size: 30px;
}

header a button {
  font-weight: bold;
  font-size: 20px;
  border-radius: 20px;
  border: none;
  outline: none;
  background-color: var(--green-color);
  padding: 5px;
  width: 120px;
  height: 40px;
}

header a button:active {
  transform: scale(1.1);
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

div#time {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100vw;
}

div#time div {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 15px;
  width: 150px;
}

main div#time div span:first-of-type {
  font-size: 80px;
}

span#text {
  margin-top: 100px;
  font-size: 50px;
  color: var(--gray-color);
  position: absolute;
  bottom: 30%;
}

@media (max-width: 600px), (max-height: 350px) {
  div#time {
    flex-direction: column;
    align-items: center;
  }

  main span#text {
    position: inherit;
    margin: 15px 0;
  }

  body {
    height: 100%;
  }

  header {
    margin: 10px 0 0;
    position: inherit;
  }
}

@media (max-width: 600px) and (max-height:775px) {
  main div#time div span:first-of-type {
    font-size: 7vh;
  }
  main div#time div span:last-of-type {
    font-size: 5vh;
  }

  main span#text {
    font-size: 8vh;
  }
}

@media (max-height: 650px) {
  span#text {
    bottom: 20%;
  }
}

@media (max-height: 420px) {
  span#text {
    bottom: 10%;
  }
}
