@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

:root {
  --blue: #4E5BEE;
  --red: #FF5757;
  --gray: #F8F8F8;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
}

main {
  display: flex;
}

img#interview {
  width: 65vw;
}

main > div {
  width: 35vw;
  height: 100vh;
  background-color: var(--blue);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 15px 0 0 15px;
}

img#logo {
  width: 130px;
}

form#login-form {
  width: 200px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin: 15px 0;
}

.input-wrapper {
  height: 100%;
  border: 2px solid white;
}

input#login {
  height: 30px;
  display: flex;
  justify-content: center;
}

input#login:hover {
  color: white;
  background-color: black;
}

.input-wrapper, input#login {
  width: 100%;
  border-radius: 15px;
  height: 30px;
  display: flex;
  align-items: center;
}

.input-wrapper, .input-wrapper input {
  background-color: transparent;
}

.input-wrapper input {
  width: 100%;
  height: 100%;
  border-radius: 0 15px  15px 0;
  color: white;
  /* caret-color: white; */
}

.input-wrapper span {
  font-size: 20px;
  color: white;
}

.input-wrapper span, .input-wrapper input {
  margin-left: 5px;
}

.input-wrapper input, input#login {
  border: none;
  outline: none;
}

a#trouble-login {
  text-decoration: none;
  color: white;
  font-weight: bold;
  margin-top: 50px;
  font-size: 14px;
}

a#trouble-login:hover {
  color: black;
}