@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

:root {
  --blue: #4E5BEE;
  --red: #FF5757;
  --gray: #F8F8F8;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
}

main {
  display: flex;
}

img#interview {
  width: 65vw;
}

main > div {
  width: 35vw;
  height: 100vh;
  background-color: var(--blue);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 15px 0 0 15px;
}

img#logo {
  width: 130px;
}