input {
  font: inherit;
  vertical-align: middle;
  padding: 0.5rem;
  margin: 0;
  display: inline-block;
  min-height: 1.5em;
  box-sizing: content-box;
  text-align: center;
  border: none;
  outline: none;
}

input:hover {
  transform: scale(1.1);
}

h1 {
  font-size: 35px;
}

form#form, form#form label {
  display: flex;
  flex-direction: column;
  width: 250px;
  text-align: center;
  align-items: center;
}

form#form input[type='submit'], form#form label input {
  min-width: 225px;
  border-radius: 15px;
  padding: 5px;
  font-size: 20px;
  height: 35px;
}

form#form input[type='submit'] {
  background-color: var(--green-color);
  font-weight: bold;
}

form#form label input {
  background-color: var(--gray-color);
  color: white;
}

h1 {
  color: var(--green-color);
}

form#form label input {
  text-transform: uppercase;
}

form#form label {
  font-size: 25px;
}

form#form * {
  margin: 10px 0;
}
