@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;800&display=swap');
:root {
  --purple: #6C63FF;
  --black: #000000;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  font-weight: 800;
}

main, header {
  margin: 20px 50px;
}

header {
  justify-content: space-between;
}

ul li {
  list-style-type: none;
}

ul li a {
  text-decoration: none;
  color: inherit;
}

form {
  margin: 100px 50px 0 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

form, #illustration-text {
  margin-top: 100px;
}

form>div {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  margin-bottom: 50px;
}

form h2 {
  text-align: center;
  margin-bottom: 50px;
}

footer span {
  font-size: 40px;
}

footer {
  display: flex;
  justify-content: space-between;
  margin-top: 100px;
  padding: 100px 50px;
  background-color: var(--purple);
}

#footer__links span {
  display: flex;
  align-items: center;
}

#inputs {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 15px;
}

#submit {
  background-color: var(--black);
  font-size: 20px;
  font-weight: 800;
}

#submit:hover {
  cursor: pointer;
}

#inputs input {
  font-weight: 600;
  font-size: 16px;
  border: 2px solid var(--purple);
  outline: none;
  box-shadow: var(--purple) 0px 5px 15px -5px;
}

#inputs input:focus {
  border-color: var(--black);
  background-color: var(--purple);
}

#inputs input::placeholder {
  font-weight: 800;
  font-size: 15px;
  color: black;
}

#form-text p {
  border: 1px solid var(--black);
}

#inputs input {
  padding: 10px 35px;
}

input#submit {
  padding: 5px 35px;
  min-width: 243px;
}

#inputs input, input#submit {
  border-radius: 10px;
}
#form-text p {
  text-align: justify;
  text-align-last: center;
  padding: 35px;
  margin-left: 50px;
  display: inline-block;
  border-radius: 5px;
  max-width: 450px;
  box-shadow: var(--black) 0px 5px 15px -5px;
}

div#illustration-text {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

ul#nav__links {
  font-weight: 400;
  color: gray;
}

h2#text {
  display: inline-block;
  max-width: 200px;
  text-align: center;
  margin-right: 50px;
}

img#illustration {
  width: 50vw;
  max-width: 600px;
  min-width: 300px;
}

header, ul#nav__links {
  display: flex;
  gap: 20px;
  align-items: center;
}

.purple {
  color: var(--purple);
}

input[type=number]::-webkit-outer-spin-button, 
input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: inner-spin-button !important;
  width: 25px;
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
}

@media (max-width: 950px) {
  form div {
    flex-direction: column;
  }
  #form-text p {
    margin-left: 0;
    display: none;
  }

  #inputs {
    margin-top: 50px;
  }

  input#submit {
    width: 100%;
    min-width: 255px;
    max-width: 243px;
  }
  form {
    margin: 0;
  }
}

@media (max-width: 650px) {
  #illustration-text {
    flex-direction: column;
  }
  h2#text {
    margin-right: 0;
    margin-top: 20px;
  }
}

@media (max-width: 515px) {
  header {
    flex-direction: column;
  }
  footer {
    flex-direction: column-reverse;
    text-align: center;
    margin-top: 50px;
  }
  ul#footer__links {
    margin-top: 50px;
  }
}

@media (max-width: 400px) {
  input#submit {
    margin-bottom: 50px;
  }
}